[color]
	ui = true
[core]
	excludesfile = /Users/rwjpeelen/.gitignore_global
	autocrlf = false
	ignorecase = false
	sparseCheckout = false
[user]
	name = Roland Peelen
	email = roland@peppr.nl
	signingkey = 0C86A4D049B60995
[push]
	default = upstream
	autoSetupRemote = true
[commit]
	template = ~/.stdCommitMessage
	gpgsign = true
[init]
	defaultBranch = master
[pull]
	ff = only
[merge]
	conflictstyle = diff3
[diff]
	external = difft
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
